body {
    margin: 0;
    padding: 0;
    background-color: rgb(172, 159, 159);
}


#body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main-container {
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid black;
    width: 400px;
    height: 550px;
    box-sizing: border-box;
    padding: 15px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: orange;
}

#main-container {
    border-radius: 15px;
}

#display, #buttons {
    border-radius: 5px;
}

#display {
    width: 366px;
    height: 90px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
}

#buttons {
    width: 370px;
    flex: 1;
    gap: 5px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: grey;
    box-sizing: border-box;
    padding: 10px;
}

#buttons > button {
    width: 83px;
    height: 70px;
    flex-shrink: 1;
    border-radius: 5px;
}

.operation, .result {
    width: 368px;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    
}

.operation {
    height: 65px;
    font-size: 22px;
    border-bottom: 1px solid black;
}

button {
    background-color: #ddd;
    font-size: 22px;
}

.result {
    font-size: 18px;
    height: 50px;
}