body {
    margin: 0;
    padding: 0;
}


#body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main-container {
    display: flex;
    width: 390px;
    height: 500px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    flex-flow: column wrap;
    align-items: center;
    gap: 10px;
}

#display {
    height: 70px;
    border: 1px solid black;
    width: 390px;
}

#buttons {
    border: 1px solid black;
    padding: 15px;
    flex: 1;
    flex-direction: column;
}

.others {
    border-bottom: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 6px;
    margin-bottom: 6px;
}

.others > button {
    height: 70px;
    width: 85px;
}

.button.equal {
    width: 176px;
    height: 70px;
}

.button button {
    width: 85px;
    height: 70px;
}

.button {
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 20px;
    background-color: #ddd;
    border-radius: 5px;
}


